# Managed by Ansible

{% if base_chrony_server_enabled | bool %}
# This node acts as an internal NTP server
server 0.pool.ntp.org iburst
server 1.pool.ntp.org iburst
server 2.pool.ntp.org iburst
server 3.pool.ntp.org iburst

allow {{ base_chrony_allow_cidr }}
local stratum 10
{% else %}
# This node syncs from the internal NTP server
server {{ base_chrony_client_server }} iburst
{% endif %}

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony
